* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.main-header, main, footer {
  margin-inline: 5%;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background: black;
}
.logo {
  width: 50px;
}
.nav-links {
  display: none;
  position: absolute;
}
.main-header {
  margin-top: 100px;


  & p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  & h1 {
    font-size: 1.8rem;
  }
  & figure {
    margin-top: 2rem;
    & img {
      width: 100%;
    }
  }
}
.call-to-actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;

  & a {
    font-size: 1.3rem;
  }
}
main {
  margin-top: 80px;
  display: flex;
  flex-direction: column-reverse;
  gap: 2.5rem;
}
main section {
  display: grid;
  gap: 2rem;
}
.about {
  display: grid;
  gap: 1rem;
}
.article-list {
  display: grid;
  gap: 1rem;
}
.article-list article {
  display: grid;
  gap: 0.5rem;

  & time {
    font-size: 0.8rem;
  }
  & p {
    font-size: 0.9rem;

    & a {
      white-space: nowrap;
    }
  }
}

footer {
  margin-top: 80px;
  padding-bottom: 50px;
  display: grid;
  gap: 1rem;
}

.copyright {
  display: grid;
  gap: .5rem;

  & li {
    line-height: 1.5;
  }
}
.author {
  font-size: 0.8rem;
  line-height: 1.3;
}
